#scores {
    display: flex;
    justify-content: center;

    padding: 10px 0;
    color: var(--main-bright-color);
}

#scores p {
    margin: auto 2%;
    font-size: 1.2rem;
    font-weight: bold;
}